{
    "tabWidth": 2,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "quoteProps": "consistent",
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "arrowParens": "always",
    "semi": false,
    "endOfLine": "lf"
}