<!doctype html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta property="csp-nonce" content="<%= htmlWebpackPlugin.options.nonce %>" />
  <title></title>
  <style>
    
  </style>
</head>

<body>
  <div id="target"></div>
</body>

</html>